:root{
    --backgroundMenu: #44BC89;
}
*{
    margin: 0;
    padding: 0;
}
.wrapper{
    display: grid;
    width: 100vw;
    height: 100vh;
}
.menu{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background-color: var(--backgroundMenu);
}
.menu img{
    width: 150px;
}